<!--  Replace menu links here -->

<li class="nav-item">
  <a
    class="nav-link {% if page.url == '/index.html' or page.url == '/' %}active{% endif %}"
    href="{{site.baseurl}}/index.html"
    >首页</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link {% if page.url == '/course.html' %}active{% endif %}"
    href="{{site.baseurl}}/course.html"
    >课程</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link {% if page.url == '/ai-coding-tools.html' %}active{% endif %}"
    href="{{site.baseurl}}/ai-coding-tools.html"
    >AI Coding Tools</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link {% if page.url == '/indie-dev.html' %}active{% endif %}"
    href="{{site.baseurl}}/indie-dev.html"
    >独立开发</a
  >
</li>
